/* Universal Css Start Here */
body {
	background-color: var(--body-color);
	font-family: var(--font-default);
	color: var(--text-color);
}

.over-hidden {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--extra-color-3);
}

a:hover {
	color: var(--extra-color-3);
}

button {
	font-family: var(--font-btn);
}

figure {
	margin-bottom: 0;
}

.primary-btn {
	box-shadow: 0px 0px 0px 1px var(--primary-btn-color);
	border: 2px solid var(--light-text-color);
	background: var(--primary-btn-color);
	color: var(--light-text-color);
	font-size: 14px;
}

.extra-padd {
	padding: 15px 60px !important;
}

.colored-txt {
	color: var(--extra-color-1);
}

button {
	border: 0;
}

/* Typography Start Here */
h1 {
	font-family: var(--font-heading);
	font-size: 76px;
	line-height: 63px;
}

h2 {
	font-family: var(--font-heading);
	font-size: 40px;
	line-height: 50px;
}

h3 {
	font-family: var(--font-playfairDisplayItalic);
	font-size: 20px;
	line-height: 30px;
}

h4 {
	font-family: var(--font-heading);
	font-size: 20px;
	line-height: 30px;
}

h5 {
	font-family: var(--font-default);
	font-size: 16px;
	line-height: 26px;
}

h6 {
	font-family: var(--font-default);
}

p {
	font-family: var(--font-default);
	font-size: 14px;
	line-height: 25px;
	/* color: var(--extra-color-2); */
}

@media (max-width: 1200px) {
	h1 {
		font-size: 40px;
		line-height: 50px;
	}

	h2 {
		font-size: 33px;
		line-height: 43px;
	}
}

@media (max-width: 991px) {
	h1 {
		font-size: 30px;
		line-height: 40px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 28px;
		line-height: 32px;
	}
	h2 {
		font-size: 22px;
		line-height: 28px;
	}

	h3 {
		font-size: 16px;
		line-height: 26px;
	}

	p {
		font-size: 13px;
		line-height: 22px;
	}
}

@media (max-width: 480px) {
	h3 {
		font-size: 14px;
		line-height: 22px;
	}

	h2 {
		font-size: 19px;
		line-height: 29px;
	}

	h4 {
		font-size: 15px;
		line-height: 25px;
	}

	p {
		font-size: 11px;
		line-height: 19px;
	}

}

/* Typography End Here */

/* Header Css Start Here */
.header-top {
	background: var(--primary-btn-color);
	padding: 0px 0 20px;
	width: 100%;
}

.sec-header {
	width: 100%;
	background: var(--primary-btn-color);
	padding: 10px;
	color: var(--light-text-color);
}

.sec-header-content {
	display: flex;
	justify-content: end;
}

.sec-header-content a {
	color: var(--light-text-color);
	font-size: 14px;
	padding-left: 20px;
	z-index: 999;
}

.navbar {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 2;
}

.navbar-light .navbar-nav .nav-link {
	color: var(--dark-text-color);
	font-size: 14px;
	padding: 10px;
	font-family: var(--font-poppin-regular);
}

.navbar-nav li {
	border-left: 1px solid #eaeaea;
}

.navbar-nav li:first-child {
	border-left: none;
}
.btn-flex{
	display: flex;
}

.start {
	margin-right: 20px;
}

/* Header Css End Here */

/* Mobile Header Css Start Here */
@media (max-width: 1366px) {
	.navbar-brand img{
		width: 110px;
	}
	.start {
		margin-right: 5px;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 13px;
		padding: 8px;
	}
	.navbar-expand-lg .navbar-collapse {
		margin-top: 10px;
	}
}
@media (max-width: 1200px) {
	.navbar-brand img{
		width: 100px;
	}
	.start {
		margin-right: 5px;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 13px;
		padding: 8px;
	}
}
@media (max-width: 1024px) {
	.navbar-brand img{
		width: 80px;
	}
	.start {
		margin-right: 5px;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 12px;
		padding: 5px;
	}
	.navbar .primary-btn {
		font-size: 12px;
	}
	.navbar .btn{
		padding: 0.375rem 0.2rem;
	}
	.navbar {
		top: 15px;
	}
}
@media (max-width: 991px) {
	.navbar-nav li {
		border-left:none;
	}
	.navbar-collapse {
		background: #fff;
		padding: 20px;
	}
}
@media (max-width: 768px) {
	.navbar-nav li {
		border-left:none;
	}
	.navbar-collapse {
		background: #fff;
		padding: 20px;
	}
}
	
@media (max-width: 576px) {
	.sec-header-content {
		display: grid;
		justify-content: center;
		text-align: center;
	}
	.navbar {
		position: unset;
		width: 100%;
	}
	.navbar-nav li {
		border-left:none;
	}
	a.navbar-brand img {
		width: 100px;
	}
	.btn-flex {
		display: block;
	}
	.btn-flex .primary-btn{
		width: 100%;
	}
	.start {
		margin-right: 0px;
	}

}
/* Mobile Header Css End Here */

/* Banner Sec Css Start Here */
.top-banner-sec {
	background-image: url(../img/home/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
.hedadingDiv h1 {
    font-size: 50px;
}
.banner-content {
	padding: 170px 0px 30px 0px;
}

.banner-content h3 {
	color: var(--heading-color-2);
}

.banner-content p {
	margin-bottom: 30px;
}

.top-banner-img {
	position: absolute;
	right: 0px;
	bottom: 0px
}

.trusted-Client {
	margin: 50px 0px;
}

.trusted-Client h4 {
	font-weight: bold;
}

.socila-icon {
	transform: rotate(-90deg);
	position: absolute;
	left: -130px;
	top: 300px;
	font-size: 14px;
}
@media (max-width: 991px) {
	.top-banner-img {
		width: 70%;
	}
}

@media (max-width: 768px) {
	.top-banner-img {
		width: 72%;
	}
	.socila-icon {
		display: none;
	}
}

@media (max-width: 576px) {
	.banner-content {
		padding: 0px;
	}
	.socila-icon {
		display: none;
	}
	.trusted-Client {
		margin: 20px 0px;
	}
	.top-banner-img {
		position: unset;
		width: 100%;
	}
}
/* Banner Sec Css End Here */

/* Services Sec Css Start Here */
.services-sec {
	margin: 60px 0px;
}

.socila-icon a {
	margin: 20px;
}

.services-sec .card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: var(--light-text-color);
	background-clip: border-box;
	border: none;
	border-radius: .25rem;
	box-shadow: 0px 3px 15px 0px #c3c3c3;
	cursor: pointer;
	transition: 0.6s;
}

.services-sec .card-body {
	flex: 1 1 auto;
	padding: 2rem;
}

.services-sec .card-body a {
	color: var(--primary-btn-color);
	margin: 20px 0px 0px 0px;
	display: inline-block;
}

.services-sec .card:hover {
	background-color: var(--heading-color-2);
	color: #b3d2c3;
	transform: translateY(30px);
}

.services-sec .card:hover a {
	color: var(--light-text-color);
}

.services-sec .card:hover img {
	filter: brightness(0) invert(1);
}
@media (max-width: 991px) {
	.services-sec .card-body {
		padding: 1rem;
	}
	.services-sec h2{
		font-size: 28px;
		margin-top: 10px;
	}
	.services-sec .card-body a {
		margin: 0px;
	}

}

@media (max-width: 768px) {
	.services-sec .card-body {
		padding: 1rem;
	}
	.services-sec h2{
		font-size: 28px;
		margin-top: 10px;
	}
	.services-sec .card-body a {
		margin: 0px;
	}

}

@media (max-width: 576px) {
	.services-sec .card {
		margin-bottom: 50px;
	}
	.services-sec {
		margin: 60px 0px 0px 0px;
	}
	
}
/* Services Sec Css End Here */

/* About Sec Css Start Here */
.about-sec {
	margin: 100px 0px;
}

.about-sec h3 {
	color: var(--heading-color-2);
}

.about-sec ul {
	column-count: 2;
	padding: 0px;
}

.about-sec ul li {
	list-style: none;
	padding: 10px 0px;
	font-size: 14px;
}

.about-sec ul li::before {
	content: "\f058";
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	color: var(--heading-color-2);
	line-height: 1;
	margin: 0 15px 0 0;
}

@media (max-width: 1366px) {
	.about-sec {
		margin:0px;
	}
}

@media (max-width: 1024px) {
	.about-sec {
		margin: 60px 0px;
	}
	.about-sec ul {
		column-count: 1;
		font-size: 13px;
	}
}

@media (max-width: 991px) {
	.about-sec {
		margin: 60px 0px;
	}
	.about-sec ul {
		column-count: 1;
		font-size: 13px;
	}
}

@media (max-width: 768px) {
.about-sec {
	margin: 60px 0px;
}
.about-sec ul {
    column-count: 1;
	font-size: 13px;
}
}

@media (max-width: 576px) {
	.about-sec {
		margin: 0px;
	}
	.about-sec ul {
		column-count: 1;
	}
}
/* About Sec Css End Here */

/* download Sec Css Start Here */
.download-sec {
	margin: 120px 0px;
	background: var(--primary-btn-color);
	color: var(--light-text-color);
}

.download-mob {
	margin: -70px 0px;
}

.download-sec-content {
	padding: 60px 0px;
}
@media (max-width: 1366px) {
	.download-mob {
		margin: -40px 0px;
	}
}
@media (max-width: 1024px) {
	.download-sec {
		margin: 60px 0px;
	}
	.download-mob {
		margin: 30px 0px;
	}
}


@media (max-width: 991px) {
	.download-sec {
		margin: 60px 0px;
	}
	.download-mob {
		margin: 100px 0px;
	}
}

@media (max-width: 768px) {
	.download-sec {
		margin: 60px 0px;
	}
	.download-mob {
		margin: 70px 0px;
	}
}

@media (max-width: 576px) {
	.download-sec {
		margin: 60px 0px;
	}
	.download-btn img{
		width: 130px;
	}
	.download-mob {
		margin: -30px 0px -120px 0px;
	}
}
/* download Sec Css End Here */


/* testimonials Sec Css Start Here */
.testimonials-sec {
	margin: 80px 0px;
}

.testimonials-sec h3 {
	color: var(--heading-color-2);
}

.testimonials-sec p {
	font-weight: bold;
	margin: 20px 0px;
}

.testimonials-bg {
	background: url(../img/home/testimonial-bg.jpg);
	background-repeat: no-repeat;
	text-align: center;
	padding: 5% 20%;
}

.testimonialsContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
	margin: auto;
}

.testimonialsContent h2 {
	font-size: 20px;
	margin: 0px;
	line-height: normal;
}

.testimonialsContent p {
	margin: 0px;
}

.testimonialsContent .client-img img {
	border-radius: 50%;
}
@media (max-width: 1200px) {
	.testimonials-bg {
		padding: 5% 15%;
	}
	.testimonialsContent {
		width: 30%;
	}
	.testimonials-sec {
		margin: 60px 0px;
	}
}
@media (max-width: 1024px) {
	.testimonials-bg {
		padding: 5% 10%;
	}
	.testimonialsContent {
		width: 30%;
	}
	.testimonials-sec {
		margin: 60px 0px;
	}
}

@media (max-width: 991px) {
	.testimonials-bg {
		padding: 5% 10%;
	}
	.testimonialsContent {
		width: 40%;
	}
	.testimonials-sec {
		margin: 60px 0px;
	}
}

@media (max-width: 768px) {
	.testimonials-bg {
		padding: 5% 10%;
	}
	.testimonialsContent {
		width: 40%;
	}
}
@media (max-width: 576px) {
	.testimonials-sec {
		margin: 150px 0px 50px 0px;
	}
	.testimonials-bg {
		padding: 5%;
	}
	.testimonialsContent {
		width: 80%;
	}
}

/* testimonials Sec Css End Here */

/* Footer Css Start Here */
footer {
	padding: 40px 0 10px;
	background: var(--primary-btn-color);
}

footer .footer-content p {
	color: var(--light-text-color);
	padding-top: 15px;
	margin: 0;
}

footer .footer-content .social-icon {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 80%;
	flex-wrap: wrap;
}

footer .footer-content .social-icon li {
	margin-right: 15px;
}

footer .footer-content .social-icon li a {
	background: var(--extra-color-1);
	width: 35px;
	display: flex;
	height: 35px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	color: var(--extra-color-2);
	border: 2px solid var(--extra-color-2);
	transition: 0.6s;
}

footer .footer-content .social-icon li a:hover {
	box-shadow: 0px 0px 0px 2px var(--extra-color-1);
}

footer .footer-content .head h4 {
	color: var(--extra-color-1);
	font-family: var(--font-heading);
}

footer .footer-content .head {
	padding-bottom: 20px;
}

footer .footer-content .head h3 {
	font-size: 25px;
	color: var(--light-text-color);
	font-family: 'Midtown-Groveed-Regular';
}

footer .footer-content ul.menu-links {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer .footer-content ul.menu-links li a {
	color: var(--light-text-color);
	font-size: 14px;
}

footer .footer-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer .logo-content .logo-box {
	max-width: 200px;
}

footer ul.social-icons {
	margin: 25px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	max-width: 200px;
	justify-content: space-between;
}

footer ul.social-icons li {
	margin-right: 8px;
}

footer ul.social-icons li a {
	background: var(--heading-color-2);
	color: var(--light-text-color);
	width: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 38px;
	border-radius: 50%;
	font-size: 16px;
}

footer .footer-content .menus li {
	padding-left: 15px;
	position: relative;
}

footer .footer-content .menus li:before {
	content: "\f105";
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	color: var(--light-text-color);
}

footer .footer-content ul li {
	padding-bottom: 10px;
}

footer .footer-content ul.menu-links li a i {
	margin-right: 10px;
}

footer .quick-links li {
	padding-bottom: 25px !important;
}

footer .footer-content form {
	display: flex;
	position: relative;
}

footer .newsletter-content {
	max-width: 90%;
	margin: 0 0 0 auto;
}

footer .footer-content form .form-group {
	flex: 1;
}

footer .footer-content form .form-group .form-control {
	border-radius: 3px;
	height: 50px;
	border: 2px solid #C3CAD9;
	color: #797979;
	font-size: 13px;
	box-shadow: none;
	outline: none;
	padding-right: 70px;
}

footer .footer-content form button {
	position: absolute;
	right: 0;
	height: 95%;
	background: var(--heading-color-2);
	top: 1px;
	padding: 0 20px;
}

footer .copyright {
	padding-top: 20px;
	padding-bottom: 10px;
}

footer .copyright p {
	color: var(--light-text-color);
	font-size: 15px;
	margin: 0;
	text-align: center;
}

@media (max-width: 991px) {
	footer .footer-content .social-icon {
		max-width: 60%;
	}

	footer .footer-content .head {
		padding-bottom: 0px;
		padding-top: 25px;
	}

	footer .footer-content .latest-blog-box .img-box {
		flex: 0 0 12%;
	}
	footer .quick-links li {
		padding-bottom: 15px !important;
	}

	footer .newsletter-content {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	footer .quick-links li {
		padding-bottom: 15px !important;
	}

	footer .newsletter-content {
		max-width: 100%;
	}
}

@media (max-width: 575px) {
	footer .footer-content .social-icon {
		max-width: 75%;
	}

	footer .footer-content .head {
		padding-bottom: 10px;
	}

	footer .footer-content .latest-blog-box .img-box img {
		height: 50px;
	}

	footer .footer-content .latest-blog-box .content {
		padding-left: 15px;
		max-width: 65%;
	}

	footer .copyright {
		padding-top: 30px;
		padding-bottom: 10px;
	}

	footer .copyright p {
		font-size: 13px;
	}
	footer .quick-links li {
		padding-bottom: 10px !important;
	}
	footer .newsletter-content {
		max-width: 100%;
	}
}

@media (max-width: 480px) {
	footer .footer-content .social-icon {
		max-width: 100%;
	}

	footer .footer-content .social-icon li {
		margin-right: 0px;
	}

	footer .footer-content ul li a {
		font-size: 12px;
	}
}

/* Footer Css End Here */

.contact-div{
	background: #F7F7F7;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	height: 100%;
}
.contact-icon {
    background: var(--heading-color-2);
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5%;
    text-align: center;
    font-size: 20px;
    color: var(--light-text-color);
}
.contact-text h4{
	font-family: var(--font-poppin-bold);
	font-size: 20px;
	margin: 0px;
}
.contact-text a{
display: block;
}
.contact-content{
	width: 70%;
	margin: 0px auto;
}
.contact-div .contact-text {
    width: calc(100% - 50px);
}