/* Variable Css Start Here */
/* Font cdn starts here */
@font-face {
	font-family: "Poppins-Light";
	src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
	font-family: "Poppins-bold";
	src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
	font-family: "Poppins-semibold";
	src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
	font-family: "Poppins-medium";
	src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
	font-family: "Poppins-regular";
	src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
	font-family: "PlayfairDisplay-Regular";
	src: url("../fonts/Playfair-Display/PlayfairDisplay-Regular.ttf");
}
@font-face {
	font-family: "PlayfairDisplay-MediumItalic";
	src: url("../fonts/Playfair-Display/PlayfairDisplay-MediumItalic.ttf");
}

@font-face {
	font-family: "PlayfairDisplay-Italic";
	src: url("../fonts/Playfair-Display/PlayfairDisplay-Italic.ttf");
}

@font-face {
	font-family: "Midtown-Groveed-Regular";
	src: url("../fonts/Midtown-Groveed/Midtown-Groveed-Regular.ttf");
}
@font-face {
	font-family: "Fractul-Bold";
	src: url("../fonts/Fractul-Bold.ttf");
}
@font-face {
	font-family: "Fractul-Regular";
	src: url("../fonts/Fractul-Regular.ttf");
}
/* Font cdn ends here */
:root {
	/* Typography starts here */
	--font-default: "Poppins-Light";
	--font-heading: "Midtown-Groveed-Regular";
	--font-btn: "Poppins-regular";
	--font-poppin-bold: "Poppins-bold";
	--font-poppin-regular: "Poppins-regular";
	--font-poppin-medium: "Poppins-medium";
	--font-playfairDisplayItalic: "PlayfairDisplay-MediumItalic";
	--font-light: "Poppins-Light";
	--font-playfairItalic: "PlayfairDisplay-Italic";
	--font-f-b: "Fractul-Bold";
	--font-fractual-r: "Fractul-Regular";
	/* Typography ends here */

	/* Colors starts here */
	--body-color: #fff;
	--bg-primary: #bc9d00;
	--bg-secondary: #026938;
	--extra-color-1: #b3d2c3;
	--extra-color-2: #000;
	/* --text-color: #848696; */
	--text-color: #333333;
	--heading-color: #333333;
	--heading-color-2: #026938;
	--light-text-color: #fff;
	--dark-text-color: #000;
	
	/* Colors ends here */

	/* button colors starts here */
	--primary-btn-color: #bc9d00;
	--primary-btn-text-color: #0a0a0a;
	--secondary-btn-color: #333333;
	--secondary-btn-text-color: #fff;
	/* button colors starts here */
	/* Auth Input Background */
	--auth-input-light-bg: #F3F3F3;
	--auth-input-light-border: #C3CAD9;

}

/* Variable Css End Here */